@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
    --white-color: #ffffff;
    --grey-color: #808080;
    --shade-brown: #c38e3c;
    --sangria-color: #92000a;
    --black-color: #000000;
    --bg-color: #000000;
    --card-color: rgb(23, 23, 23);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.underline {
    width: 5rem;
    height: 0.25rem;
    background: var(--sangria-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.0);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.0);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.0);
        transform: translatey(0px);
    }
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--sangria-color);
    border-bottom: 2px solid var(--shade-brown);
    font-size: 1.1rem;
}

.container {
    margin: 0 auto;
    width: 1500px;
    max-width: 90%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slietName {
    text-align: center;
}

.slietlogo {
    width: 100px;
}

.checkbox {
    display: none;
}

.navbar {
    position: relative;
    /* background-color: var(--grey-color); */
    padding: 20px;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.menu-items {
    display: flex;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.7rem;
    align-self: center;
}

.navbar .nav-container li {
    list-style: none;
}

@media(max-width:1190px) {

    .container {
        max-width: 1050px;
        width: 90%;
        margin: auto;
    }

    .slietName {
        display: none;
    }

    .navbar {
        z-index: 1;
        width: 100%;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
        padding: 20px;
    }

    .nav-container {
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .menu-items {
        display: flex;
    }

    .navbar .nav-container li {
        list-style: none;
    }

    .navbar .nav-container a {
        text-decoration: none;
        color: var(--white-color);
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.7rem;
    }

    .navbar .nav-container a:hover {
        font-weight: bolder;
    }

    .nav-container {
        display: block;
        position: relative;
    }

    .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .hamburger-lines {
        margin-top: 20px;
    }

    .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
    }

    .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 120px;
        /* box-shadow: inset 0 0 2000px var(--black-color); */
        background-color: var(--black-color);
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
    }

    .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 1.2rem;
        color: #0e2431;
    }

    .nav-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    .nav-container input[type="checkbox"]:checked~.logo {
        display: none;
    }
}

.sub-menu-parent {
    position: relative;
}

.sub-menu {
    border-radius: 25px;
    visibility: hidden;
    /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;

}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
    visibility: visible;
    /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    /* this removes the transition delay so the menu will be visible while the other styles transition */
}

.sub-menu li {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sub-menu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: var(--grey-color);
    width: 300px;
    /* height: 300px; */
}










@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

.corousel {
    position: relative;

}

.corousel img {
    height: 600px;
    object-fit: cover;
}

div#slider {
    overflow: hidden;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}

.corousel__photos {
    position: relative;
    box-shadow: inset 0 0 4px var(--black-color);
}

.corousel__photos img {
    border-radius: 25px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.one {
    background: url("http://ece.sliet.ac.in/files/2012/02/ECE-Department11.jpg") no-repeat center center / cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    width: 200px;
    height: 500px;
    flex-grow: 2;
}

.two {
    background: url("http://cs.sliet.ac.in/files/2021/04/computer-block-768x516.jpg") no-repeat center center / cover;
    width: 200px;
    height: 400px;
    flex-grow: 2;
    border-radius: 25px;
}

.three {
    background: url("http://ct.sliet.ac.in/files/2012/02/Chem-Deptt.-Main-Building.jpg") no-repeat center center / cover;
    width: 200px;
    height: 400px;
    flex-grow: 2;
    border-radius: 25px;
}

.galary {
    margin-top: 20px;
    text-align: center;
}

.galary-gap {
    margin-top: 150px;
    margin-bottom: 150px;
}

.galary h1 {
    transform: translatey(0px);
    animation: float 2s ease-in-out infinite;
}

.hero_section {
    background: url('assets/SET.jpeg');
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero__content {
    height: 100%;
    background: var(--black-color);
    opacity: 0.9;
    display: flex;
    align-items: center;
}

.hero__info_container {
    /* padding-top: 300px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_info {
    color: var(--white-color);
    border-right: 2px solid var(--white-color);
    width: 300px;
    height: 100px;
    text-align: center;
}

.stars {
    text-align: center;
    padding-top: 100px;
}

.hero_text {
    text-align: center;
    color: var(--white-color);
}

.hero_info h1 {
    font-size: 3rem;
}

.hero_info p {
    font-size: 1.15rem;
}

@media (max-width:855px) {
    .hero__info_container {
        flex-direction: column;
    }

    .hero_info {
        border-right: none;
        border-bottom: 2px solid white;
    }

    .companies_logo {
        margin-top: 5px;
        flex-direction: column;
    }

    .companies_logo__photos+.companies_logo__photos {

        margin-top: 20px;
        margin-left: 0px;
    }
}

.companies_logo img {
    width: 200px;
    height: 100px;
    align-self: center;
    object-fit: contain;
}

@media(min-width:855px) {
    .companies_logo__photos+.companies_logo__photos {
        margin-left: 20px;
    }
}

.companies_logo__photos {
    background-color: var(--black-color);
    border-radius: 7px;
}

.companies_logo {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.achievement {
    background-color: var(--grey-color);
    padding: 100px 20px 100px 20px;
    margin-top: 20px;
    margin-bottom: 150px;
}

.achievement h1 {
    transform: translatey(0px);
    animation: float 2s ease-in-out infinite;
}

.achievement img {
    max-width: 100%;
    object-fit: contain;
    height: 250px;
    border-radius: 15px;
}

.achievement_card {
    gap: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.achievement_head {
    text-align: center;
}

.achievement_head p {
    margin-top: 5px;
}

.map {
    margin-top: 150px;
    text-align: center;
}

.map h1 {
    margin-bottom: 20px;
    transform: translatey(0px);
    animation: float 2s ease-in-out infinite;
}

.map p {
    transform: translatey(0px);
    animation: float 2s ease-in-out infinite
}















/* footer */
footer {
    margin-top: 20px;
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: 16px;
}

footer * {
    box-sizing: border-box;
    border: none;
    outline: none;
}

.row {
    padding: 2em 1em;
}

.row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: stretch;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
    align-items: center;
    justify-content: center;
}

.column ul li {
    list-style: none;
}

.column ul li a {
    color: var(--white-color);
}

.column img {
    margin: auto;
}

.about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
}

input,
button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}

button {
    /* background-color: var(--sangria-color); */
    color: #ffffff;
}

div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
}

.social i {
    padding: 5px;
}

.row.secondary {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.row.secondary i {
    font-size: 1.8em;
    /* color: var(--sangria-color); */
}

.row.secondary div {
    padding: 1em 0;
    width: 100%;
}

.row.secondary div:hover {
    background-color: var(--grey-color);
}

.copyright {
    padding: 0.3em 1em;
    background-color: var(--grey-color);
    align-self: center;
}

.copyright p {
    font-size: 0.9em;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 850px) {
    .row.primary {
        grid-template-columns: 1fr;
    }

    .row.secondary {
        flex-direction: column;
    }
}