@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
}

:root {
    --white-color: #ffffff;
    --grey-color: #808080;
    --shade-brown: #c38e3c;
    --sangria-color: #92000a;
    --black-color: #000000;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Utility Classes */

.container {
    margin: 0 auto;
    width: 1500px;
    max-width: 90%;
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
}



h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--sangria-color);
    border-bottom: 2px solid var(--shade-brown);
    font-size: 1.1rem;
}

.underline {
    width: 5rem;
    height: 0.25rem;
    background: var(--sangria-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


#dept-header p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

#dept-header h2 {
    font-size: 1.7rem;
    font-weight: 600;
}

#dept-about p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

#dept-about h2 {
    font-size: 1.7rem;
    font-weight: 600;
}

#faculty p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

#faculty h2 {
    font-size: 1.7rem;
    font-weight: 600;
}

#laboratories p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

#laboratories h2 {
    font-size: 1.7rem;
    font-weight: 600;
}

#photo-gallery p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

#photo-gallery h2 {
    font-size: 1.7rem;
    font-weight: 600;
}

#dept-about {}








/*NavBar */

.slietName {
    text-align: center;
}

.slietlogo {
    width: 100px;
}

.checkbox {
    display: none;
}

.navbar {
    position: relative;
    /* background-color: var(--grey-color); */
    padding: 20px;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.menu-items {
    display: flex;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.7rem;
    align-self: center;
}

.navbar .nav-container li {
    list-style: none;
}

@media(max-width:1190px) {

    .container {
        max-width: 1050px;
        width: 90%;
        margin: auto;
    }

    .slietName {
        display: none;
    }

    .navbar {
        z-index: 1;
        width: 100%;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
        padding: 20px;
    }

    .nav-container {
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .menu-items {
        display: flex;
    }

    .navbar .nav-container li {
        list-style: none;
    }

    .navbar .nav-container a {
        text-decoration: none;
        color: var(--white-color);
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.7rem;
    }

    .navbar .nav-container a:hover {
        font-weight: bolder;
    }

    .nav-container {
        display: block;
        position: relative;
    }

    .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .hamburger-lines {
        margin-top: 20px;
    }

    .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
    }

    .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 120px;
        /* box-shadow: inset 0 0 2000px var(--black-color); */
        background-color: var(--black-color);
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
    }

    .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 1.2rem;
        color: #0e2431;
    }

    .nav-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    .nav-container input[type="checkbox"]:checked~.logo {
        display: none;
    }
}

.sub-menu-parent {
    position: relative;
}

.sub-menu {
    border-radius: 25px;
    visibility: hidden;
    /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;

}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
    visibility: visible;
    /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    /* this removes the transition delay so the menu will be visible while the other styles transition */
}

.sub-menu li {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sub-menu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: var(--grey-color);
    width: 300px;
    /* height: 300px; */
}




/* Department Header */

.dept-name {
    text-align: center;
    padding: 2rem 0rem;
}

.dept-name h1 {
    margin: auto;
    background: url(assets/asset\ 1.svg) no-repeat;
    display: inline;
}


.dept-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dept-contents {
    list-style: none;
    padding: 5px 30px;
    font-weight: bold;
}

.borderBtn {
    border-right: 2px solid;
}

/* Department About */

#dept-about {
    margin-top: 50px;
}

.about-intro {
    text-align: center;
    margin: auto;
    padding: 2rem;
}

.about-intro h2 {
    background: url(assets/asset\ 3.svg) no-repeat center;
    transform: translatey(0px);
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.0);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.0);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.0);
        transform: translatey(0px);
    }
}

.about-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--grey-color);
    border: 2px;
    border-radius: 20px;
    margin-top: 30px;
}

.dept-img {
    padding: 1rem;
}


.dept-intro {
    padding: 1rem;
    max-width: 90vw;
    color: var(--white-color);
    background: var(--white-color);
    opacity: 0.5;
    border: 2px;
    border-radius: 10px;
}

.intro1 {
    padding: 1rem;
    color: black;
}

.intro2 {
    color: black;
    padding: 1rem;
}



/* Faculty & Staffs */
.section {
    padding: 5rem 0;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

#faculty {
    padding: 5rem 0;
    background: url(assets/asset\ 4.svg) no-repeat center center/cover;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.title h2 {
    transform: translatey(0px);
    animation: float 2s ease-in-out infinite;
}


.btn-container {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}

.filter-btn {
    background: transparent;
    border-color: var(--sangria-color);
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    border-radius: var(--radius);
    padding: 0.375rem 0.75rem;
    color: var(--sangria-color);
    cursor: pointer;
    transition: var(--transition);
}

.filter-btn:hover {
    background: var(--sangria-color);
    color: var(--white-color);
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
}

.menu-item {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
}

.menu-item img {
    transform: perspective(1500px) rotateY(30deg);
    box-shadow: rgba(0, 0, 0, 0.25);
    transition: transform 1s ease 0s;
}

.menu-item img:hover {
    transform: perspective(3000px) rotateY(5deg);
}



.photo {
    object-fit: cover;
    height: 200px;
    border: 0.25rem solid var(--sangria-color);
    border-radius: 50%;
}

.item-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted var(--sangria-color);
}

.item-info h4 {
    margin-bottom: 0.5rem;
}

.price {
    color: var(--sangria-color);
}

.item-text {
    margin-bottom: 0;
    padding-top: 1rem;
}

/* Laboratories */
#gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.gallery-item {
    flex-basis: 32.7%;
    margin-bottom: 6px;
    opacity: .85;
    cursor: pointer;
    transform:
        rotate3d(.5, -.866, 0, 15deg) rotate(1deg);
    box-shadow:
        2em 4em 6em -2em rgba(0, 0, 0, .5),
        1em 2em 3.5em -2.5em rgba(0, 0, 0, .5);
    transition:
        transform .4s ease,
        box-shadow .4s ease;
    border-radius: .5em;
}

.gallery-item:hover {
    opacity: 1;
    transform:
        rotate3d(0, 0, 0, 0deg) rotate(0deg);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-content {
    font-size: .8em;
}

.lightbox {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
}

.lightbox-content {
    position: relative;
    width: 70%;
    height: 70%;
    margin: 5% auto;
}

.lightbox-content img {
    border-radius: 7px;
    box-shadow: 0 0 3px 0 rgba(225, 225, 225, .25);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lightbox-prev,
.lightbox-next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 7px;
    top: 45%;
    cursor: pointer;
}

.lightbox-prev {
    left: 0;
}

.lightbox-next {
    right: 0;
}

.lightbox-prev:hover,
.lightbox-next:hover {
    opacity: .8;
}

/* Photo-Gallery */
#photo-gallery {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    background: url(assets/asset\ 2.png);
    background-size: 500px;
}

.photo-gallery-item {
    margin: auto;
}

.photo-gallery-item img {
    max-width: 80vw;
}


/* Footer */
footer {
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: 16px;
}

footer * {
    box-sizing: border-box;
    border: none;
    outline: none;
}

.row {
    padding: 2em 1em;
}

.row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: stretch;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
    align-items: center;
    justify-content: center;
}

.column ul li {
    list-style: none;
}

.column ul li a {
    color: var(--white-color);
}

.column img {
    margin: auto;
}

.about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
}

input,
button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}

button {
    /* background-color: var(--sangria-color); */
    color: #ffffff;
}

div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
}

.social i {
    padding: 5px;
}

.social i:hover {
    /* color: var(--sangria-color); */
}

.row.secondary {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.row.secondary i {
    font-size: 1.8em;
    /* color: var(--sangria-color); */
}

.row.secondary div {
    padding: 1em 0;
    width: 100%;
}

.row.secondary div:hover {
    background-color: var(--grey-color);
}

.copyright {
    padding: 0.3em 1em;
    background-color: var(--grey-color);
}

.copyright p {
    font-size: 0.9em;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .row.primary {
        grid-template-columns: 1fr;
    }

    .row.secondary {
        flex-direction: column;
    }
}































/* Media Queries */

@media screen and (max-width: 1296px) {
    .about-main {
        flex-wrap: wrap;
    }

    .about-intro {
        padding: 0rem;
    }

    .dept-img img {
        max-width: 80vw;
    }

    .dept-img {
        padding: 0;
    }


    .intro1 {
        padding: 1rem;
    }

    .intro2 {
        padding: 1rem;
    }
}

@media screen and (max-width: 680px) {
    .dept-nav ul {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .menu-item {
        grid-template-columns: 225px 1fr;
        gap: 0 1.25rem;
        max-width: 40rem;
    }

    .photo {
        height: 175px;
    }
}

@media screen and (min-width: 1200px) {
    .section-center {
        width: 95vw;
        grid-template-columns: 1fr 1fr;
    }

    .photo {
        height: 150px;
    }
}

@media (max-width: 767px) {
    .gallery-container {
        width: 100%;
    }

    .gallery-item {
        flex-basis: 49.80%;
        margin-bottom: 3px;
    }

    .lightbox-content {
        width: 80%;
        height: 60%;
        margin: 15% auto;
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex-basis: 100%;
        margin-bottom: 1px;
    }

    .lightbox-content {
        width: 90%;
        margin: 20% auto;
    }
}

@media (min-width: 1450px) {
    .dept-intro {
        transform:
            perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg) scale(0.9, 0.9);
        border-radius: 20px;
        border: 5px solid #e6e6e6;
        box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
        transition: 0.4s ease-in-out transform;
    }

    .dept-intro:hover {
        transform: translate3d(0px, 0px, -250px);
    }
}